*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 700px;
    margin: 100px auto 0 auto;
}

button {
    padding: 5px 10px;
    font-size: 16px;
    text-transform: uppercase;
}

.header {
    text-align: center;
}

h2 {
    font-size: 50px;
    margin-bottom: 20px;
}

.total {
    text-align: center;
    font-size: 24px;
    margin-top: 30px;
    font-weight: 700;
}

.product-list {
    margin-top: 20px;
    display: flex;
    gap: 70px;
    text-align: center;
    justify-content: center;
}

.product-list button {
    text-transform: capitalize;
}

.product-title {
    font-size: 40px;
    margin-bottom: 20px;
}

.product-description {
    font-size: 24px;
    margin-bottom: 20px;
}

.product-price {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    text-transform: uppercase;
}
